*{ /* L'étoile ou astérisque qui signifie que selectionne tout le document*/
    text-align: right;/*aligne le texte à droite */
}
body{
    background-color: rgba(137, 43, 226, 0.979);/*couleur de fond*/
}
header{
    background-color: chartreuse;
    color: chocolate;/*couleur du texte*/
    height: 180px;/*hauteur fixée à 120 pixels */
}
nav{
    background-color: cornflowerblue;
    height: 160px;
}
section{
    background-color: crimson;
    height: 160px;
}
article{
    background-color: darkgoldenrod;
    height: 160px;
}
footer{
    background-color: darkgreen;
    height: 160px;
}

nav, footer{/*Je sépare les différente balises à selectionner pas de virgules */
    color: lime;

}

/* Pour selectionner un class en css j ' utilise un point avant le nom que je lui donné */
.jaune{
    background-color: yellow;
}
/* pour cibler l'id, j' utilise un diéde */
#noir{
    background-color: black;
    color: white;
    text-align: justify;
    font-size: 25px;
}
