*{
font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    width: 50%;
    margin: auto;/*gestioln automatique des marges pour que mon tableau soit centré*/

}
table{
    border: 4px solid   ; 
    border-collapse: collapse;/*rassemble les borders ensembles pou obtenir une border unique */
    width: 90%;
    margin: 25px;/*marge extérieur de la balise*/
}

thead, tfoot{
    background-color: yellow;
    border: 2px solid blue;
}
tbody{
    border: 1px black;
}
th{
    border: 1px palevioletred;/*dotted = pointillé */
    padding: 4px;/*marge intérieur, c est ce qui permet d'éloignés du texte de la bordure de la balise */
    background-color: black; 
    width: 20%;
}
td{
    font-size: 100%;
    border: 1px red;
    text-align: left;
    background-color: salmon;
}