body{
    margin: auto;
}
table{
    border: 1px gray;
    border-collapse: collapse;
}
tbody{
    border:1px gray;
}
.noir{
    background-color: black;
}
.cheuveux1{
    background-color: rgb(49, 37, 25);
}
.cheuveux2{
    background-color: rgb(64, 51, 35);
}
.peau1{
    background-color: rgb(252, 171, 124);
}
.peau2{
    background-color: rgb(254, 154, 104);
}
.cape1{
    background-color: rgb(49, 73, 23);
}
.cape2{
    background-color: rgb(54, 92, 33);
}
.cape3{
    background-color: rgb(103, 150, 44);
}
.habit1{
    background-color: rgb(255, 227, 177);
}
.veste1{
    background-color: rgb(112, 46, 12);
}
.jaune{
    background-color: rgb(254, 204, 55);
}
.habit2{
    background-color: rgb(251, 235, 201);
}
.veste2{
    background-color: rgb(136, 54, 14);
}
.pantalon1{
    background-color: rgb(114, 69, 40);
}
.veste4{
    background-color: rgb(36, 53, 21);
}
.pantalon2{
    background-color: rgb(135, 82, 50);
}
.pantalon3{
    background-color: rgb(150, 96, 50);
}